body{
font-family: Arial;
background:#1b102b;
color:white;
text-align:center;
margin:0;
}

header{
background:#5b2db5;
padding:15px;
}

h1{
margin:0;
}

section{
padding:20px;
}

input,button{
padding:10px;
margin:5px;
border:none;
border-radius:8px;
}

button{
background:#7c4dff;
color:white;
font-weight:bold;
}

button:hover{
background:#9a6dff;
}

#routine{
margin-top:10px;
}

.exerciseItem{
background:#2b174a;
padding:10px;
margin:5px;
border-radius:10px;
}

#player{
margin-top:20px;
}

#exerciseImg{
max-width:250px;
border-radius:12px;
margin-top:10px;
}

#timer{
font-size:60px;
margin-top:10px;
}
